<ul class="products">
    {% for product in products %}
        <li class="{{ loop.cycle('odd', 'even') }}">
            <div class="product">
                
                <a href="/shop/product/{{ product.slug }}/"><img src="{% if product.photo %}/file/{{ product.photo.file_data.key() }}{% else %}/img/product_default.png{% endif %}" width="150" height="150"></a>
                <h2><a href="/shop/product/{{ product.slug }}/">{{ product.name }}</a></h2>
                <p class="price">
                    {{ _('Price') }} {{ format_currency(product.price, 'HUF', locale=language) }}
                    {% if product.unit == "gram" %}
                        (250 {{ _('grams') }})
                    {% elif product.unit == "piece" %}
                        ({{ _('piece') }})
                    {% endif %}
                </p>
                <div style="line-height:1.3">
                    {{ product.description|striptags|truncate(155) }}
                    
                    <p><a class="product-details" href="/shop/product/{{ product.slug }}/">{{ _('Read more ...') }}</a></p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>