{% extends "pages/page_base.html" %}

{% block pageclass %}home{% endblock %}

{% block content %}
    
    <div id="daily_offer">
        <div id="daily_coffee">
            <h2><a href="{{ url_for('shop/index') }}">{{ _('Webshop') }}</a></h2>
            {% if product %}
                <p>
                    <a href="{{ url_for('shop/index') }}"><img src="/img/daily-illustration.png" alt="{{ _('Illustration for the Webshop') }}"></a>
                </p>
                <p>
                    <a href="/shop/product/{{ product.slug }}/"><span class="daily-product">{{ product.name }}</span></a>
                    <span class="daily-price">{{ _('Price') }} {{ format_currency(product.price, 'HUF', locale=language) }} (250g)</span>
                </p>
                <div class="product-description">
                    <a class="product-illustration" href="/shop/product/{{ product.slug }}/"><img alt="{{ _('Product illustration for') }} {{ product.name }}" src="{% if product.photo %}/file/{{ product.photo.file_data.key() }}{% else %}/img/product_default.png{% endif %}" width="150" height="150"></a>
                    {{ product.description|striptags|truncate(255) }}
                    <a href="/shop/product/{{ product.slug }}/" class="product-more"><strong>{{ _('Read more...') }}</strong></a>
                </div>
            {% endif %}
            
            <p>
                <strong><a href="{{ url_for('shop/index') }}">{{ _('Browse Products') }}</a></strong>
            </p>
        </div>
        <div id="daily_menu">
            
            <h2>{% if language == 'en_US' %}
                <a href="/page/menu/">
                {% else %}
                <a href="/page/etlap/">
                {% endif %}
                {{ _('Café') }}</a></h2>
            <p>{% if language == 'en_US' %}
                <a href="/page/menu/">
                {% else %}
                <a href="/page/etlap/">
                {% endif %}
                    <img src="/img/daily-illustration.png" alt="{{ _('Illustration for the Menu Selection') }}"></a>
            </p>
            
            
            {% if offer %}
                <p class="offer-title">{{ offer.title }}</p>
                <div class="product-description">
                    <a class="product-illustration" 
                        {% if language == 'en_US' %}
                        href="/page/menu/"
                        {% else %}
                        href="/page/etlap/"
                        {% endif %}
                        ><img alt="{{ _('Illustration for') }} {{ offer.title }}" src="{% if offer.photo %}/file/{{ offer.photo.file_data.key() }}{% else %}/img/product_default.png{% endif %}" width="150" height="150"></a>
                    {{ offer.intro|striptags|truncate(255) }}
                </div>
            {% endif %}
            
            
            <p>
                <strong>
                    {% if language == 'en_US' %}
                    <a href="/page/menu/">
                    {% else %}
                    <a href="/page/etlap/">
                    {% endif %}
                        {{ _('See Menu Selection') }}</a></strong>
            </p>
        </div>
    </div>
    
    <div id="latest_posts">
        <div style="position:relative">
            <fb:like style="position:absolute;right:0" href="" send="false" width="270" show_faces="false" font=""></fb:like>
        </div>
        
        <h3><a href="{{ url_for('blog/index') }}">{{ _('Latest News') }}</a></h3>
        {% if posts %}
            {% include "partials/post.html" %}
        {% else %}
        {% endif %}
    </div>
    
{% endblock %}