/* =forms */

.tipfy-form ul {
    margin: 0 1em;
}

.tipfy-form li {
    padding: .5em 0;
    position: relative;
}

.tipfy-form label {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0 .3em;
    cursor: pointer;
}

.tipfy-form label abbr {
    color: red;
    border: none;
}

.tipfy-form .descr {
    display: block;
    font-style: italic;
    font-size: .9em;
    padding: .2em;
    color: green;
}

.tipfy-form input[type=text], .tipfy-form input[type=password] {
    width: 25em;
    padding: .2em;
}

.tipfy-form input[type=checkbox] {
    float: left;
    margin-right: .5em;
}

.tipfy-form textarea {
    width: 100%;
    height: 20em;
}

.tipfy-form p:last-child {
    margin: 1em;
}

.errors {
    margin: 0;
    position: absolute;
    top: 0;
    left: 16em;
    color: red;
}