/* =layout */

html {
    background: url("/img/content-nocolumn-bg.png") repeat-y scroll 50% 1em;
}

body {
    background: #fff;
    font: normal 11.25px/1 Arial, sans-serif;
    color: #000;
    padding-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ul li, ol li { list-style: none; }

a:link, a:active, a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

/* =navigation */

#navigation {
    width: 400px;
    margin: -5px auto 15px;
    text-align: center;
}

#navigation ul {
    margin: 0;
}

#navigation li {
    display: inline-block;
}

#navigation a {
    padding: 5px 3px;
    text-transform: lowercase;
}

.about #menu-about a,
.blog #menu-news a,
.contact #menu-contact a,
.shop #menu-shop a {
    text-decoration: underline;
}


/* =header */

#header {
    border: 1px solid #000;
    position: relative;
}

/* =branding */

#branding {
    padding: 15px;
    position: relative;
}

#branding h1 {
    background: url(/img/lumen-branding.png) no-repeat 0 0;
    width: 273px;
    height: 125px;
    display: block;
    margin: 0 auto;
}

#branding h1 a {
    display: block;
    height: 80px;
    text-indent: -10000px;
}

.foundation,
.tagline {
    position: absolute;
    top: 15px;
}

.tagline {
    left: 15px;
}

.foundation {
    right: 15px;
}

/* =address */

#address {
    position: absolute;
    color: #999;
    bottom: 10px;
    left: 15px;
}

#address p {
    margin: 0;
    line-height: 1.5;
}

/* =language */

#language {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#language ul {
    margin: 0;
}

#language li a,
#language li {
    display: inline-block;
    color: #999;
}

#content_main {
    position: relative;
    width: 800px;
    margin: 0 auto;
}


/* =content */

#content_sub {
    background: url(/img/content-nocolumn-bg.png) repeat-y;
    margin-top: 30px;
    overflow: hidden;
}

.home #content_sub {
    background: url(/img/content-bg.png) repeat-y;
}

/* =daily */

#daily_offer {
    overflow: hidden;
    padding: 0 15px;
    border-bottom: 1px solid #000;
}

#daily_offer h2 {
    margin-top: 0;
    font-weight: normal;
    text-transform: uppercase;
}

#daily_offer h2 a {
    color: #999;
}

#daily_offer p {
    line-height: 1.5;
}

#daily_offer img {
    border: 1px solid #000;
}

#daily_offer .daily-product {
    margin-top: 5px;
    color: #999;
    font-weight: bold;
    display: block;
}

#daily_offer .daily-price {
    display: block;
}


#daily_coffee {
    float: left;
    width: 370px;
}

#daily_menu {
    float: right;
    width: 370px;
}

/* =latest_posts */

.blog h1 {
    margin: 0 0 20px;
    text-transform: uppercase;
    color: #999;
}

.blog #pagecontent ul {
    margin: 0;
}

#latest_posts {
    margin: 0 15px;
    padding: 10px 0;
    background: #fff;
}

#latest_posts h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

#latest_posts h3 a {
    color: #999;
}

#latest_posts p {
    line-height: 1.5;
}

#latest_posts ul {
    margin: 0;
}

/* =cart */

#cart { }

#cart ul {
    margin: 0;
}

#cart > ul > li {
    position: relative;
}

.cartitems {
    display: none;
    position: absolute;
    background: #fff;
    width: 10em;
    right: -1em;
    padding: .5em;
    border: .3em solid rgba(0,0,0,.4);
}

#cart > ul > li:hover .cartitems {
    display: block;
}

/* =products */

.shop h1 {
    text-transform: uppercase;
    color: #999;
    margin: 0 0 20px;
}

.shop h1 a {
    color: #999;
}

#pagecontent {
    padding: 0 15px;
}

#pagecontent p {
    line-height: 1.5;
}

#pagecontent > p {
    margin-bottom: 20px;
}

.shop-product #pagecontent img {
    float: right;
    margin: 0 0 15px 15px;
}

.products {
    margin: 0;
    overflow: hidden;
}

.products > li {
    float: left;
    width: 368px;
    border: 1px solid #000;
    margin: 0 30px 30px 0;
}

.products > li.even {
    margin-right: 0;
}

.product {
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.product > img {
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid #000;
}

.product > h2 {
    margin: 0 0 5px;
}

.product > h2 a {
    color: #999;
}

.product > p {
    text-shadow: 1px 1px 2px #F6F6E2;
    color: #281208;
}

a.product-details {
    text-decoration: underline;
    font-style: italic;
}









.tag {
    color: #5F3711;
}

#auth {
    position: absolute;
    right: 1em;
    top: 1em;
}

#feedback {
    padding: .5em 1em;
    background: #EEECBB;
    border: 2px solid #AFA34E;
    font-size: 120%;
}

#feedback .error {
    color: red;
}

