{% extends "base.html" %}
{% block title %}
    {{ _('Administration') }} | {{ super() }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/tinymce/themes/simple/skins/default/ui.css" type="text/css">
{% endblock %}

{% block headjs %}
    <script src="/tinymce/tiny_mce.js"></script>
{% endblock %}

{% block content %}
    <h1>Hello!</h1>
    <div>
        <h2>Latest orders:</h2>
    </div>
    <div>
        <h3>Manage Content:</h3>
        <ul>
            <li><a href="{{ url_for('admin/blog/index') }}">Blog Posts</a></li>
            <li><a href="{{ url_for('admin/orders/index') }}">Orders</a></li>
            <li><a href="{{ url_for('admin/products/index') }}">Products</a></li>
            <li><a href="{{ url_for('admin/page/index') }}">Pages</a></li>
            <li><a href="{{ url_for('admin/files/index') }}">Files</a></li>
        </ul>
    </div>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
    tinyMCE.init({
        mode: "textareas",
        theme: "simple",
        editor_selector : "mceEditor"
    });
</script>
{% endblock %}