{% extends "admin/admin_base.html" %}
{% block title %}
    {{ _('Blog') }} | {{ super() }}
{% endblock %}
{% block content %}
    
    <nav>
        <ul>
            <li><a href="{{ url_for('admin/index') }}">Administration main page</a></li>
            <li><a href="{{ url_for('admin/blog/new') }}" title="">Create new blog post</a></li>
        </ul>
    </nav>
    <h1>{{ _('Manage Blog Posts') }}</h1>
    {% if posts %}
        <table>
            <caption>Blog Posts</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td><a title="{{ post.lead|escape }}" href="/admin/blog/edit/{{ post.key().id() }}/">{{ post.title }}</a></td>
                    <td>{{ format_datetime(post.modified, 'short', 'hu', 'Europe/Budapest') }}</td>
                    <td>{{ post.language }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ _('No blog posts yet.') }}</p>
    {% endif %}
    
{% endblock %}