{% extends "blog/blog_base.html" %}

{% block title %}
    Archive | {{ super() }}
{% endblock %}

{% block meta %}
    <link rel="alternate" href="/feed/blog/tag/{{ tag }}/" type="application/atom+xml" title="{{ _('Blog posts tagged with') }} {{ tag }}">
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Archive for {{ tag }}</h1>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li>
                <div>
                    <h3><a href="/blog/{{ format_datetime(post.modified, 'y/M/d') }}/{{ post.slug }}/">{{ post.title }}</a></h3>
                    <p>
                        {{ format_datetime(post.modified, 'short', 'hu', 'Europe/Budapest') }}, Lumen
                    </p>
                    <p>
                        {{ post.lead }}
                        <br>
                        <span><a href="/blog/{{ format_datetime(post.modified, 'y/M/d') }}/{{ post.slug }}/">Read more ...</a></span>
                    </p>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}