{% extends "blog/blog_base.html" %}

{% block title %}
    Archive | {{ super() }}
{% endblock %}

{% block meta %}
    <link rel="alternate" href="/feed/blog/tag/{{ tag }}/" type="application/atom+xml" title="{{ _('Blog posts tagged with') }} {{ tag }}">
    {{ super() }}
{% endblock %}

{% block content %}
<div id="pagecontent">
    <h1><a href="{{ url_for('blog/index') }}">{{ _('News') }}</a> > Archive for {{ tag }}</h1>
    {% if posts %}
        <ul>
        {% for post in posts %}
            {% include "partials/post.html" %}
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}