{% extends "blog/blog_base.html" %}

{% block title %}
    {{ post.title }} | {{ super() }}
{% endblock %}

{% block content %}
<div id="pagecontent">
    <h1><a href="{{ url_for('blog/index') }}">{{ _('News') }}</a> > {{ post.title }}</h1>
    <p>
        {{ format_datetime(post.modified, 'short', 'hu', 'Europe/Budapest') }}, Lumen
    </p>
    <div>
        {{ post.lead }}
    </div>
    <div>
        {{ post.content }}
    </div>
    {% if post.tags %}
    <div style="margin-bottom: 10px">
        <strong style="float:left;margin-right:5px;display:block">{{ _('Tags') }}:</strong>
        <ul class="tags">
        {% for tag in post.tags %}
            <li><a href="/news/tag/{{ tag }}/">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <fb:like href="" send="false" width="450" show_faces="true" font=""></fb:like>
</div>
{% endblock %}