{% extends "shop/shop_base.html" %}

{% block title %}
    {{ _('Products tagged with') }}: {{ tag }} | {{ super() }}
{% endblock %}

{% block meta %}
    <link rel="alternate" href="/feed/product/tag/{{ tag }}/" type="application/atom+xml" title="{{ _('Products tagged with') }} {{ tag }}">
    {{ super() }}
{% endblock %}

{% block content %}
<div id="pagecontent">
    <h1><a href="{{ url_for('shop/index') }}">{{ _('Beans to your house') }}</a> > {{ _('Products tagged with') }}: <span class="tag">{{ tag }}</span></h1>
    {% include "partials/product.html" %}
</div>
{% endblock %}