{% extends "shop/shop_base.html" %}

{% block title %}
    {{ _('Cart') }} | {{ super() }}
{% endblock %}

{% block pageclass %}{{ super() }} shop-cart{% endblock %}

{% block pagecontent %}
<div id="pagecontent">
    <h1><a href="{{ url_for('shop/index') }}">{{ _('Beans to your house') }}</a> > {{ _('Cart') }}</h1>
    {% if products %}
        {% include "partials/cart.html" %}
        <p>
            <a href="{{ url_for('shop/index') }}">{{ _('Continue shopping.') }}</a> {{ _('or') }} <a href="{{ url_for('shop/order') }}">{{ _('Place order') }}</a>.
        </p>
    {% else %}
        <p>{{ _('Your cart is empty.') }} <a href="{{ url_for('shop/index') }}">{{ _('Continue shopping.') }}</a></p>
    {% endif %}
    
</div>
{% endblock %}