{% extends "shop/shop_base.html" %}

{% from 'form_macros.html' import form_field %}

{% block title %}
    {{ _('Place order') }} | {{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
    <link rel="stylesheet" href="/css/forms.css">
{% endblock %}

{% block content %}
<div id="pagecontent">
    <h1>{{ _('Place order') }}</h1>
    
    <p>{{ _('You are about to order the following products') }}:</p>
    
    {% include "partials/cart.html" %}
    
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
        <ul>
            <li>{{ form_field(form.delivery_method) }}</li>
            <li>{{ form_field(form.delivery_address) }}</li>
            <li>{{ form_field(form.delivery_city) }}</li>
            <li>{{ form_field(form.delivery_zip) }}</li>
            <li>{{ form_field(form.delivery_info) }}</li>
            <li>{{ form_field(form.comment) }}</li>
        </ul>
        <p><input type="submit" name="submit" value="{{ _('Place order') }}"></p>
    </form>
</div>
{% endblock %}