{% extends "shop/shop_base.html" %}

{% block title %}
    {{ product.name }} | {{ super() }}
{% endblock %}

{% block pageclass %}{{ super() }} shop-product{% endblock %}

{% block pagecontent %}
<div id="pagecontent">
    <h1><a href="{{ url_for('shop/index') }}">{{ _('Product Selection & Webshop') }}</a> > {{ product.name }}</h1>
    <div>
        <img src="/img/product_default.png" width="150" height="150">
        {{ product.description }}
    </div>
    
    {% if product.tags %}
    <strong>Tags:</strong>
    <ul class="tags">
        {% for tag in product.tags %}
            <li>
                <a href="/shop/tag/{{ tag }}/">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}