{% extends "shop/shop_base.html" %}

{% block title %}
    {{ product.name }} | {{ super() }}
{% endblock %}

{% block pageclass %}{{ super() }} shop-product{% endblock %}

{% block pagecontent %}
<div id="pagecontent">
    <h1><a href="{{ url_for('shop/index') }}">{{ _('Products') }}</a> > {{ product.name }}</h1>
    <div>
        <img src="{% if product.photo %}/file/{{ product.photo.file_data.key() }}{% else %}/img/product_default.png{% endif %}" width="150" height="150">
        {{ product.description }}
    </div>
    <p>
        <strong>{{ _('Price') }}:</strong>
        {{ format_currency(product.price, 'HUF', locale=language) }}
        {% if product.unit == "gram" %}
            (250 {{ _('grams') }})
        {% elif product.product_unit == "piece" %}
            ({{ _('piece') }})
        {% endif %}
    </p>
    <form action="/cart/" id="add_form" method="post" accept-charset="utf-8">
        <label for="product_quantity">{{ _('Quantity') }}:</label>
        <select name="product_quantity" id="product_quantity">
            
            {% if product.unit == "gram" %}
                <option value="250">250 </option>
                <option value="350">350</option>
                <option value="500">500</option>
                <option value="750">750</option>
                <option value="1000">1000</option>
            
            {% elif product.unit == "piece" %}
                <option value="1">1 </option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            {% endif %}
        </select>
        
        {% if product.unit == "gram" %}
            {{ _('grams') }}
        {% elif product.unit == "piece" %}
            {{ _('piece') }}
        {% endif %}
        
        <input type="hidden" name="product_id" value="{{ product.key().id() }}" id="product_id">
        <input type="submit" id="add_btn" value="{{ _('Add to basket') }}">
    </form>
    
    {% if product.tags %}
    <strong style="float:left;margin-right:5px;display:block">{{ _('Tags') }}:</strong>
    <ul class="tags">
        {% for tag in product.tags %}
            <li>
                <a href="/shop/tag/{{ tag }}/">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <fb:like href="" send="false" width="450" show_faces="true" font=""></fb:like>
</div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="/js/cart.js"></script>
{% endblock %}