{% extends "shop/shop_base.html" %}

{% block title %}
    {{ product.name }} | {{ super() }}
{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <img src="/img/product_default.png" width="100" height="150">
    <p>
        {{ product.description }}
    </p>
    <p class="buy">
        <span class="price">{{ product.price }} HUF / {{ product.unit }}</span>
        <span>
            <select name="amount" id="amount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="button">{{ _('Buy') }}</button>
        </span>
    </p>
    {% if product.tags %}
    <ul class="tags">
        {% for tag in product.tags %}
            <li>
                <a href="/shop/tag/{{ tag }}/">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
<div class="product">
    <img src="/img/product_default.png" width="100" height="150">
    <h2><a href="/shop/product/{{ product.slug }}/">{{ product.name }}</a></h2>
    <p>
        {{ product.description }}
    </p>
    <p class="buy">
        <span class="price">{{ product.price }} HUF / {{ product.unit }}</span>
        <span>
            <select name="amount" id="amount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="button">{{ _('Buy') }}</button>
        </span>
    </p>
</div>