<!DOCTYPE HTML>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}Lumen Kávé{% endblock %}
        </title>
        {% block meta %}
            <link rel="alternate" href="/feed/blog/" type="application/atom+xml" title="{{ _('Latest blog posts') }}">
            <link rel="alternate" href="/feed/product/" type="application/atom+xml" title="{{ _('Latest products') }}">
        {% endblock %}
        <link rel="stylesheet" href="/css/reset-min.css">
        <link rel="stylesheet" href="/css/base-min.css">
        <link rel="stylesheet" href="/css/fonts-min.css">
        <link rel="stylesheet" href="/css/site.css">
        {% block css %}
        {% endblock %}
        {% block headjs %}{% endblock %}
    </head>
    <body class="{% block pageclass %}{% endblock %}">
        <div id="content_main">
            <div id="header">
                
                <div id="branding">
                    <h1><a href="/">Lumen Kávé</a></h1>
                    <p class="tagline">
                        {{ _('Fresh roasted coffee') }}
                    </p>
                    <p class="foundation">
                        <a href="http://www.photolumen.hu">{{ _('Lumen Photography Foundation') }} >>></a>
                    </p>
                </div>
                
                {% block navigation_main %}
                    <div id="navigation">
                        <ul>
                            {% if language == 'en_US' %}
                                <li id="menu-about">| <a href="/page/about-us/">{{ _('About us') }}</a> |</li>
                            {% else %}
                                <li id="menu-about">| <a href="/page/bemutatkozas/">{{ _('Bemutatkozás') }}</a> |</li>
                            {% endif %}
                            
                            <li id="menu-shop"><a href="{{ url_for('shop/index') }}">{{ _('Products') }}</a> |</li>
                            
                            {% if language == 'en_US' %}
                                <li id="menu-cafe"> <a href="/page/cafe/">{{ _('Café') }}</a> |</li>
                            {% else %}
                                <li id="menu-cafe"> <a href="/page/kavezo/">{{ _('Kávézó') }}</a> |</li>
                            {% endif %}                            
                            
                            <li id="menu-news"><a href="{{ url_for('blog/index') }}">{{ _('News') }}</a> |</li>
                            
                            {% if language == 'en_US' %}
                                <li id="menu-contact"><a href="/page/contact/">{{ _('Contact') }}</a> |</li>
                            {% else %}
                                <li id="menu-contact"><a href="/page/kapcsolat/">{{ _('Kapcsolat') }}</a> |</li>
                            {% endif %}
                                
                            <li id="menu-cart">
                                <a href="/shop/cart/">{{ _('Cart') }}</a> |
                            </li>
                            
                            {% if current_user %}
                                <li id="menu-profile">
                                    <a href="/your/">{{ _('Your profile') }}</a> |
                                </li>
                            {% else %}
                                <li id="menu-profile">
                                    <a href="/sign-in/">{{ _('Sign in') }}</a> |
                                </li>
                            {% endif %}
                            
                        </ul>
                    </div>
                {% endblock %}
                
                <div id="address">
                    {{
                        _('
                        <p>
                            address:<br>
                            Mikszáth Kálmán tér 2.<br>
                            H-1088 Budapest
                        </p>
                        <p>
                            opening hours:<br>
                            m-f: 8:30-19h<br>
                            sat: 9:30-17h
                        </p>
                        ')
                    }}
                </div>
                
                <div id="language">
                    <ul>
                        <li>| <a href="?lang=hu_HU">HU</a></li>
                        <li>| <a href="?lang=en_US">ENG</a> |</li>
                    </ul>
                </div>
            </div>
            <div id="content_sub">
                {% block content %}{% endblock %}
                
                <div id="fb-root"></div>
                <script>
                  window.fbAsyncInit = function() {
                    FB.init({appId: '158238200885960', status: true, cookie: true, xfbml: true});
                  };
                  (function() {
                    var e = document.createElement('script'); e.async = true;
                    e.src = document.location.protocol +
                      '//connect.facebook.net/en_US/all.js';
                    document.getElementById('fb-root').appendChild(e);
                  }());
                </script>
            </div>
        </div>
        {% block js %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20146427-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endblock %}
    </body>
</html>
