<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}Lumen Kávé{% endblock %}
        </title>
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="/css/reset-min.css">
        <link rel="stylesheet" href="/css/base-min.css">
        <link rel="stylesheet" href="/css/fonts-min.css">
        <link rel="stylesheet" href="/css/site.css">
        <link href='http://fonts.googleapis.com/css?family=Lobster&amp;subset=latin' rel='stylesheet' type='text/css'>
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block navigation_main %}{% endblock %}
        <div id="content_main">
            <div id="branding">
                <h1><a href="/">Lumen Kávé</a></h1>
            </div>
            <div id="language">
                <ul>
                    <li><a href="?lang=en_US">English</a></li>
                    <li><a href="?lang=hu_HU">Magyar</a></li>
                </ul>
            </div>
            <div id="cart">
                {% include "partials/cart.html" %}
            </div>
            {% block content %}{% endblock %}
        </div>
        {% block footer %}
            <footer>
                <ul>
                    <li>&copy; <a href="{{ url_for('pages/welcome') }}">Lumen Kávé</a></li>
                    <li><a href="{{ url_for('pages/contact') }}">{{ _('Contact') }}</a></li>
                    <li><a href="{{ url_for('pages/menu') }}">{{ _('Menu') }}</a></li>
                </ul>
            </footer>
        {% endblock %}
        {% block js %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
