<ol>
    {% for order in orders %}
    <li>
        <div style="border-bottom:1px solid #000;display:inline-block;">
            <ul>
                {% for product in order.products %}
                <li>
                    {{ product.product_name }}
                    {% if product.product_unit == "gram" %}
                        ({{ product.product_quantity }} {{ _('grams') }}): 
                        {{ format_currency( ( (product.product_quantity / 250) * product.product_price), 'HUF', locale=language) }}
                    {% elif product.product_unit == "piece" %}
                        ({{ product.product_quantity }} {{ _('piece') }}): 
                        {{ format_currency( ( product.product_quantity * product.product_price), 'HUF', locale=language) }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <p>
                {% if order.area == '' -%}
                {{ _('Discount') }}: {{ format_currency( order.total / 10, 'HUF', locale=language) }}<br>
                {{ _('Total') }} = {{ format_currency( (order.total - order.total / 10), 'HUF', locale=language) }}<br>
                {% elif order.area == 'Hungary' %}
                {{ _('Delivery fee') }}: {{ format_currency( 1200, 'HUF', locale=language) }}<br>
                {{ _('Total') }} = {{ format_currency( (order.total + 1200) , 'HUF', locale=language) }}<br>
                {% else %}
                {{ _('Delivery fee') }}: {{ format_currency( 800, 'HUF', locale=language) }}<br>
                {{ _('Total') }} = {{ format_currency( (order.total + 800), 'HUF', locale=language) }}<br>
                {%- endif %}
                {{ _('Order posted at') }} {{ format_datetime(order.posted, 'y/M/d') }}
            </p>
        </div>
    </li>
    {% endfor %}
</ol>