{% extends "user/user_base.html" %}

{% from 'form_macros.html' import form_field %}

{% block content %}
    <h1>Sign in</h1>
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
        <ol>
            <li>{{ form_field(form.username, class='medium') }}</li>
            <li>{{ form_field(form.password, class='medium') }}</li>
            <li>{{ form_field(form.remember) }}</li>
        </ol>
        <fieldset class="submit">
            <input type="submit" name="submit" value="{{ _('Sign in') }}">
        </fieldset>
    </form>

    <p>Don't have an account? <a href="{{ url_for('auth/register') }}">Create a new one</a>.</p>

    <p>Or select a service to sign in with:</p>
    <p>
        <a href="{{ facebook_login_url }}" title="Sign in with Facebook">Sign in with your Facebook account</a>
        <a href="{{ google_login_url }}" title="Sign in with Google">Sign in with your Google account</a>
    </p>
{% endblock %}