{% extends "user/user_base.html" %}

{% from 'form_macros.html' import form_field %}

{% block title %}
    {{ _('Sign in') }} | {{ super() }}
{% endblock %}

{% block content %}
    <h1>{{ _('Sign in') }}</h1>
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
        <ul>
            <li>{{ form_field(form.username) }}</li>
            <li>{{ form_field(form.password) }}</li>
            <li>{{ form_field(form.remember) }}</li>
        </ul>
        <input type="submit" name="submit" value="{{ _('Sign in') }}">
    </form>
    <p><a href="{{ url_for('auth/register') }}">{{ _('Create account') }}</a>.</p>
    
    <p>Sign in with your 
        <a href="{{ facebook_login_url }}" title="Sign in with Facebook">Facebook account</a> or 
        <a href="{{ google_login_url }}" title="Sign in with Google">Google account</a>
    </p>
{% endblock %}