{% extends "user/user_base.html" %}

{% from 'form_macros.html' import form_field %}

{% block title %}
    {{ _('Sign in') }} | {{ super() }}
{% endblock %}

{% block content %}
    <h1>{{ _('Sign in') }}</h1>
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
        <p>You can sign in with your 
            <a href="{{ facebook_login_url }}" title="Sign in with Facebook">Facebook</a> or 
            <a href="{{ google_login_url }}" title="Sign in with Google">Google</a> account.
        </p>
        <ul>
            <li>{{ form_field(form.username) }}</li>
            <li>{{ form_field(form.password) }}</li>
            <li>{{ form_field(form.remember) }}</li>
        </ul>
        <p><input type="submit" name="submit" value="{{ _('Sign in') }}"> or <a href="{{ url_for('auth/register') }}">{{ _('Create an account') }}</a>.</p>
        
    </form>
{% endblock %}