{% extends 'user/user_base.html' %}

{% block title %}
    {{ _('Hello') }} {{ current_user }} | {{ super() }}
{% endblock %}

{% block pageclass %}
    {{ super() }} user-profile
{% endblock %}

{% block content %}
<div id="pagecontent">
    <h1>{{ _('Hello') }} {{ current_user }}!</h1>    
    {% if orders %}
        <h2>
            {{ _('Your orders so far') }}
        </h2>
        
        {% include "user/_orders.html" %}
        
    {% else %}
        <h2>
            {{ _('You have not made any purchases through our web shop so far.') }} <a href="{{ url_for('shop/index') }}">{{ _('Should you be interested in our products, please visit our webshop.') }}</a>
        </h2>
    {% endif %}
    
    <p>
        <a href="{{ url_for('auth/logout') }}">{{ _('Log out') }}</a>
    </p>
</div>
{% endblock %}