{% extends 'user/user_base.html' %}

{% from 'form_macros.html' import form_field %}

{% block title %}
    {{ _('Create an account') }} | {{ super() }}
{% endblock %}

{% block content %}
    <h1>{{ _('Create an account') }}</h1>
    <p>{{ _('Fill the form to create a new account. If you already have an account, please') }} <a href="{{ url_for('auth/login') }}">{{ _('sign in') }}</a>.</p>
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
        <ul>
            <li>{{ form_field(form.username) }}</li>
            <li>{{ form_field(form.email) }}</li>
            <li>{{ form_field(form.email_confirm) }}</li>
            <li>{{ form_field(form.password) }}</li>
            <li>{{ form_field(form.password_confirm) }}</li>
        </ul>
        <p><input type="submit" name="submit" value="{{ _('Create account') }}"></p>
    </form>
{% endblock %}